@font-face {
  font-family: "iconfont"; /* Project id 3738552 */
  src: url('iconfont.woff2?t=1667489349690') format('woff2'),
       url('iconfont.woff?t=1667489349690') format('woff'),
       url('iconfont.ttf?t=1667489349690') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 6vh;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e603";
}

.icon-zhiwu1:before {
  content: "\e612";
}

.icon-041siyecao:before {
  content: "\e7be";
}

.icon-hanhan-01-01:before {
  content: "\e6af";
}

.icon-zhichiduozhongshujuleixing:before {
  content: "\e632";
}

.icon-grass:before {
  content: "\e60a";
}

.icon-zhiwu2:before {
  content: "\edd6";
}

.icon-jiaoyin:before {
  content: "\e753";
}

.icon-zhiwu:before {
  content: "\e600";
}

.icon-sf:before {
  content: "\e760";
}

.icon-xiaochuan:before {
  content: "\e60d";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-shouye1:before {
  content: "\e751";
}

.icon-haitun:before {
  content: "\e614";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-shouye2:before {
  content: "\e62e";
}

.icon-mulu1:before {
  content: "\e608";
}

.icon-haitun1:before {
  content: "\e601";
}

.icon-mulu2:before {
  content: "\e602";
}

.icon-shuiguo:before {
  content: "\e63c";
}

.icon-yingtao:before {
  content: "\e607";
}

.icon-yingtao1:before {
  content: "\e611";
}

.icon-yingtao2:before {
  content: "\e61a";
}

.icon-yingtao3:before {
  content: "\e609";
}

.icon-tingshu-mulu:before {
  content: "\e620";
}

.icon-shipin-shengxian-yu:before {
  content: "\e60e";
}

.icon-chuyulaji-yugu:before {
  content: "\e647";
}

.icon-sharpicons_Orca:before {
  content: "\e788";
}

.icon-yuleiyongpin:before {
  content: "\e61b";
}

.icon-haitun2:before {
  content: "\e6c7";
}

