*{margin: 0;padding: 0;}  
body{
    display: flex;
	flex-direction: column;
	min-height: 100vh; 
    background-color:#CCDBED;
    width:100%;
}
#header{
    background-color:#ADB8D4;
    height:7vh;
    width:100%;
}
#p1{
    position:absolute;
    line-height: 7vh;
    font-size: 5vh;
    left:3vh;
    font-family:cursive;
    font-weight:900;
}
a{
    text-decoration: none;
    color:black;
}
#icon1{
    position:absolute;
    top:0.5vh;
    right:1vh;
}
#icon2{
    position:absolute;
    top:0.5vh;
    right:8vh;
    font-size:7vh;
}
/*数组box*/
#input_box{
    width:80vw;
    height:20vh;
    position: absolute;
    top:15vh;
    left:10vw;
}
.hcqStyle{
    display:inline-block;
    font-size:8vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;color:#CCDBED;
    text-shadow:0 0 1px currentColor,-1px -1px 3px #000000,0 -1px 3px #000000,1px -1px 3px #071E59,1px 0 3px #071E59,1px 1px 3px #071E59,0 1px 3px #000000,-1px 1px 3px #000000,-1px 0 3px #000000;
    -webkit-filter:url(#diff1);filter:url(#diff1);
    position: absolute;
    top:3vh;
    left:2vw;
}
#input_save{
    position: relative;
    top:0vh;
    left:20%;
    width:68%;
    height:13vh;
    border:0.7vh solid transparent;
    border-image:linear-gradient(45deg,#aed0f4,#649ad8)1;
    background-color: white;
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
    clip-path: inset(0px round 10px);
    overflow: auto;
}
#input_check{
    position: absolute;
    width:8%;
    height:13vh;
    right:0%;
    top:0vh;
}
form{
    padding: 0;
    width: 100%;
    margin: 0vh auto;
    height:100%;
}
.wrapper{
    margin-bottom: 2vh;
}
.box{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    background:#aed0f4;
    vertical-align: middle;
    border-radius: 50%;
}
.box input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.box span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    margin:-5px 0 0 -5px;
    z-index: 1px;
}
input[type="radio"] + span{
    opacity: 0;
}
input[type="radio"]:checked + span{
    opacity: 1;
}
#input_element{
    position: absolute;
    top:35%;
    left:10%;
    width:80%;
    height:10%;
}
#p2{
    position:absolute;
    line-height: 7vh;
    font-size: 5vh;
    left:1vh;
    top:1.5vh;
    font-family:cursive;
    font-weight:900;
}
#input_box1{
    position: absolute;
    width:50%;
    height:100%;
    left:31%;
    top:0;
    border: none;
    text-align: center;
    font-size:5vh;
}
.custom-btn {
    width:13vw;
    height:8vh;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .btn {
    position:absolute;
    right:0%;
    top:1vh;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #B4CBEE 35%, #CCDBED 75%);
    transition: all 0.3s ease;
  }
  .btn:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    color: #fff;
  }
  .btn:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  }
  .hcqStyle4{
    display:inline-block;
    font-size:5vh;
    font-family:cursive;
    font-weight:bold;color:rgb(28, 28, 28);
    margin:-0.5vh auto;
}
#table{
    position: absolute;
    width:80%;
    height:40%;
    top:50%;
    right:10%;
}
#table1{
    width:100%;
    height:100%;
    border:0.4vh solid #B4CBEE;
    border-radius: 3vh;
    background-color: #B4CBEE;
}
#table1 th{
    width:20%;
    height:25%;
    border:0.1vh solid #B4CBEE;
    font-family:cursive;
    font-weight:bold;
    color:rgb(28, 28, 28);
    font-size: 4vh;
    background-color: white;
}
#table1 td{
    width:20%;
    height:25%;
    border:0.1vh solid #B4CBEE;
    overflow: auto;
    background-color: white;
    text-align: center;
}
#th00{
    border-radius: 2vh 0vh 0vh 0vh;
}
#th04{
    border-radius: 0vh 2vh 0vh 0vh;
}
#th30{
    border-radius: 0vh 0vh 0vh 2vh;
}
#th34{
    border-radius: 0vh 0vh 2vh 0vh;
}