*{margin: 0;padding: 0;}
body{
    display: flex;
	flex-direction: column;
	min-height: 100vh; 
    background-color:#D7DFE8;
    width:100%;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1664443015480') format('woff2'),
       url('iconfont.woff?t=1664443015480') format('woff'),
       url('iconfont.ttf?t=1664443015480') format('truetype');
}
#header{
    background-color:#ADB8D4;
    height:7vh;
    width:100%;
}
#p1{
    position:absolute;
    line-height: 7vh;
    font-size: 5vh;
    left:3vh;
    font-family:cursive;
    font-weight:900;
}
a{
    text-decoration: none;
}
.iconfont1 {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 6vh;
    color:black;
    position: absolute;
    top:0.5vh;
    right:3vh;
  }
  .menu{
    width:17vw;
    height:35vh;
    border-radius: 45vh;
    background-color: #ADB8D4;
    text-align: center;
  }
  .iconfont2 {
    position: relative;
    top:4vh;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13vh;
    color: rgb(49, 70, 139);
  }
  .word{
    width:13vw;
    height:10vh;
    margin:6vh auto;
    font-family: cursive;
    font-size:3vh;
    font-weight: bold;
  }
  .menu:hover{
    width:17.1vw;
    height:35.1vh;
    border-radius: 40vh;
    background-color: #ADB8D4;
    text-align: center;
    border:1vh solid rgb(189, 192, 226);
    transform: scale(1.1);
  }
  #menu_1{
    position:absolute;
    top:14vh;
    left:15vw;
  }
  #menu_2{
    margin:7vh auto;
  }
  #menu_3{
    position:absolute;
    top:14vh;
    right:15vw;
  }
  #menu_4{
    position:absolute;
    bottom:8vh;
    left:15vw;
  }
  #menu_5{
    position: absolute;
    bottom:8vh;
    left:42%;
  }
  #menu_6{
    position:absolute;
    bottom:8vh;
    right:15vw;
  }
  a{
    text-decoration: none;
    color:black
  }
  a:hover{
    color:black;
  }
