@font-face {
  font-family: "iconfont"; /* Project id 3680934 */
  src: url('iconfont.woff2?t=1664443015480') format('woff2'),
       url('iconfont.woff?t=1664443015480') format('woff'),
       url('iconfont.ttf?t=1664443015480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 7vh;
}
.icon-zhuye:before {
  content: "\e625";
}

.icon-cao:before {
  content: "\e628";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-wenti:before {
  content: "\e80c";
}

.icon-tuzi:before {
  content: "\e61b";
}

.icon-diguifuwuqi:before {
  content: "\e653";
}

.icon-wentijieda:before {
  content: "\ec2e";
}

.icon-mulu1:before {
  content: "\e60f";
}

.icon-zhuye1:before {
  content: "\e610";
}

.icon-mulu2:before {
  content: "\e6d4";
}

.icon-zhuye2:before {
  content: "\e62b";
}

.icon-zhuye3:before {
  content: "\e663";
}

.icon-catalog:before {
  content: "\e60b";
}

.icon-zuixiaozhi:before {
  content: "\e8ad";
}

.icon-panduan:before {
  content: "\e611";
}

.icon-bijiaofenxi:before {
  content: "\e61e";
}

.icon-timucao:before {
  content: "\e8d0";
}

.icon-zuixiaozhi1:before {
  content: "\ec69";
}

.icon-panduanshifoucunzai:before {
  content: "\e6c6";
}

.icon-panduanti:before {
  content: "\e6b0";
}

.icon-a-banbendiedaicengji:before {
  content: "\e62f";
}

