<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>斐波那契数列目录</title>
        <link rel = "stylesheet" type="text/css" href="../static/FibonacciMenu.css">
        <link rel = "stylesheet" type="text/css" href="../static/font/iconfont.css">
    </head>
    <body>
        <div id = "header">
            <p id="p1">斐波那契数列实验</p>
            <a href="./Menu.html"><span class="iconfont1">&#xe663;</span></a><!--目录图标-->
        </div>
        <a href="./FiveMethods.html">
        <div class="menu" id="menu_1">
            <span class="iconfont2">&#xe61e;</span>
            <div class="word">
                <p>五种方法计算第n个斐波那契数的比较</p>
            </div>
        </div>
        </a>
        <a href="./IterativeMethod.html">
        <div class="menu" id="menu_2">
            <span class="iconfont2">&#xe62f;</span>
            <div class="word">
                <p>迭代法计算本机支持的最大整数是第几个并给出执行时间</p>
            </div>
        </div>
        </a>
        <a href="./RecursiveMethod.html">
        <div class="menu" id="menu_3">
            <span class="iconfont2">&#xe653;</span>
            <div class="word">
                <p>递归法计算本机支持的最大整数是第几个并给出执行时间</p>
            </div>
        </div>
        </a>
        <a href="./OneMinutes.html">
        <div class="menu" id="menu_4">
            <span class="iconfont2">&#xe6c6;</span>
            <div class="word">
                <p>一分钟内是否能递归计算完成迭代法所计算出的最大的数</p>
            </div>
        </div>
        </a>
        <a href="./ThirtySeconds.html">
        <div class="menu" id="menu_5">
            <span class="iconfont2">&#xe80c;</span>
            <div class="word">
                <p>递归和迭代30s能计算的最大数是第几个并计算下一个数的时间</p>
            </div>
        </div>
        </a>
        <a href="./Error.html">
        <div class="menu" id="menu_6">
            <span class="iconfont2">&#xe8ad;</span>
            <div class="word">
                <p>找出近似公式计算出现误差时的最小斐波那契数是第几个</p>
            </div>
        </div>
        </a>
    </body>
</html>