<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>五种方法比较</title>
        <link rel = "stylesheet" type="text/css" href="../static/FiveMethods.css">
        <link rel = "stylesheet" type="text/css" href="../static/font/iconfont.css">
        <script type="text/javascript" src="../interface.js"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
        <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    </head>
        <div id = "header">
            <p id="p1">斐波那契数列实验</p>
            <a href="./Menu.html"><span class="iconfont2">&#xe663;</span></a><!--目录图标-->
            <a href="./FibonacciMenu.html"><span class="iconfont1">&#xe60b;</span></a><!--斐波那契目录图标-->
        </div>
        <form action="" method="" >
        <div id="input1">
            <p class="hcqStyle3">输入要计算的斐波那契数:</p>
                <input type="text" name="" id="text1">
                <button class="custom-btn btn" type="button" onclick="FiveMethods()" ><p class="hcqStyle4">确定</p></button>
        </div>
        </form>
        <div id="container" style="width:70%;height:30%;margin:0 auto;"></div>
   
    </body>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </html>