<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>目录</title>
        <link rel = "stylesheet" type="text/css" href="../static/Menu.css">
    </head>
    <body>
        <div id = "header">
            <p id="p1">目录</p>
        </div>
        <a href="./FibonacciMenu.html">
        <div class="menu" id="menu_1">
            <div class="menu2">
                <img src="../static/image/1.png" class="img">
                <div class="p">
                    <p class="hcqStyle2">斐波那契数列</p>
                </div>
            </div>
        </div>
        </a>
        <div class="menu" id="menu_2">
            <div class="menu2">
                <img src="../static/image/4.png" class="img">
                <div class="p">
                    <p class="hcqStyle2">检索算法</p>
                </div>
            </div>
        </div> 
        <div class="menu" id="menu_3">
            <div class="menu2">
                <img src="../static/image/3.jpg" class="img">
                <div class="p">
                    <p class="hcqStyle2">背包问题</p>
                </div>
            </div>
        </div> 
    </body>
</html>