<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>一分钟内是否完成</title>
        <link rel = "stylesheet" type="text/css" href="../static/OneMinutes.css">
        <link rel = "stylesheet" type="text/css" href="../static/font/iconfont.css">
        <script type="text/javascript" src="../interface.js"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
        <div id = "header">
            <p id="p1">斐波那契数列实验</p>
            <a href="./Menu.html"><span class="iconfont2">&#xe663;</span></a><!--目录图标-->
            <a href="./FibonacciMenu.html"><span class="iconfont1">&#xe60b;</span></a><!--斐波那契目录图标-->
        </div>
        <form action="" method="">
        <div class="box" id="box1">
            <div class="word">
                <p class="p">一分钟内是否能递归计算完成迭代法所计算出的最大数</p>
            </div>
            <button class="custom-btn btn" type="button" onclick="OneMinuteRecursive_1()"><p class="hcqStyle4">确定</p></button>
        </div>
    </form>
        <form action="" method="">
        <div class="box" id="box2">
            <div class="word">
                <p class="p">实际执行时间</p>
            </div>
            <button class="custom-btn btn" type="button" onclick="OneMinuteRecursive_2()"><p class="hcqStyle4">确定</p></button>
        </div>
        </form>
        <div class="result" id="result1">
            <div class="result_p"><p class="hcqStyle5">是否能完成</p></div>
            <form>
                <textarea class="form_result" id="form1"readonly="readonly" ></textarea>
            </form>
        </div>
        <div class="result" id="result2">
            <div class="result_p"><p class="hcqStyle5">实际执行时间</p></div>
            <form>
                <textarea class="form_result" id="form2" readonly="readonly"></textarea>
            </form>
        </div>
    </body>
    </html>